<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ROI Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400normal" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body ng-app="ROICalculator" ng-controller="ROIController">

<h1>ROI Calculator</h1>
<table class="table">
    <tr>
        <th></th>
        <th>One-Time</th>
        <th>Monthly</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in revenueItems | orderBy: 'name'">
        <td>{{ item.name }}</td>
        <td>{{ item.oneTime | currency:"$":2 }}</td>
        <td>{{ item.monthly | currency:"$":2 }}</td>
        <td>
            <button class="btn btn-xs btn-danger glyphicon glyphicon-trash" ng-click="deleteRevenue(item)"></button>
        </td>
    </tr>
    <tr>
        <td><input ng-class="{'error': errorRevenueName}" placeholder="Revenue item" ng-model="newRevenue.name"/></td>
        <td><input ng-class="{'error': errorRevenueOneTime}" placeholder="One-time amount" ng-model="newRevenue.oneTime"/></td>
        <td><input ng-class="{'error': errorRevenueMonthly}" class="input-error" placeholder="Monthly amount" ng-model="newRevenue.monthly"/></td>
        <td>
            <button class="btn btn-xs btn-primary glyphicon glyphicon-plus" ng-click="addRevenue(newRevenue)"></button>
        </td>
    </tr>
    <tr ng-repeat="item in expenseItems | orderBy: 'name'">
        <td>{{ item.name }}</td>
        <td>{{ item.oneTime | currency:"$":2 }}</td>
        <td>{{ item.monthly | currency:"$":2 }}</td>
        <td>
            <button class="btn btn-xs btn-danger glyphicon glyphicon-trash" ng-click="deleteExpense(item)"></button>
        </td>
    </tr>
    <tr>
        <td><input ng-class="{'error': errorExpenseName}" placeholder="Expense item" ng-model="newExpense.name"/></td>
        <td><input ng-class="{'error': errorExpenseOneTime}" placeholder="One-time amount" ng-model="newExpense.oneTime"/></td>
        <td><input ng-class="{'error': errorExpenseMonthly}" placeholder="Monthly amount" ng-model="newExpense.monthly"/></td>
        <td>
            <button class="btn btn-xs btn-primary glyphicon glyphicon-plus" ng-click="addExpense(newExpense)"></button>
        </td>
    </tr>
    <tr>
        <th></th>
        <th>One-Time</th>
        <th>Monthly</th>
        <th>Total</th>
    </tr>
    <tr>
        <th>Revenue</th>
        <td ng-bind="totalRevenueOneTime | currency:'$':2 "></td>
        <td ng-bind="totalRevenueMonthly | currency:'$':2 "></td>
        <td ng-bind="totalRevenueTotal | currency:'$':2 "></td>
    </tr>
    <tr>
        <th>Expenses</th>
        <td ng-bind="totalExpenseOneTime | currency:'$':2 "></td>
        <td ng-bind="totalExpenseMonthly | currency:'$':2 "></td>
        <td ng-bind="totalExpenseTotal | currency:'$':2 "></td>
    </tr>
    <tr></tr>
    <tr>
        <td></td>
        <th>Contribution profit</th>
        <td ng-bind="totalMonthlyProfit | currency:'$':2 "></td>
        <td ng-bind="totalProfit | currency:'$':2 ">0</td>
    </tr>
    <tr>
        <td></td>
        <th>Contribution margin</th>
        <td></td>
        <td ng-bind="contributionMargin | percentage:2"></td>
    </tr>
    <tr>
        <td></td>
        <th>Capital ROI (Months)</th>
        <td></td>
        <td ng-bind="capitalROI | number:1"></td>
    </tr>
</table>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="scripts/ROIController.js"></script>
<script src="scripts/revenueRepository.js"></script>
<script src="scripts/expenseRepository.js"></script>
<script src="scripts/percentageFilter.js"></script>
</html>